.env
.terraform/
coverage/
venv/
env/
.DS_STORE
.vscode
*.code-workspace
*.sha256
terraform.tfstate

# Compiled Java class files
*.class

# Package files
*.jar

# Gradle
.gradle
build
target

# Intellij
.idea

# Spark
metastore_db/

# Others
.classpath
.project
.settings/
.vscode
*.swp
